.post-story-row-1 {
  font-size: 24px;
  font-weight: bolder;
  color: #ffffff;
}

.post-story-row-2 {
  font-size: 18px;
  font-weight: bolder;
  color: #73d9ff;
}

.button-not-now {
  font-size: 18px;
  color: #ffffff;
  font-width: bolder;
}
