.feature-locked-text {
  font-size: 14px;
  color: red;
}

.set-contest-question-buttons {
  background-color: #61c2ec;
  color: #ffffff;
  font-size: 13px;
}

.set-contest-add-question-button {
  padding-left: 5px;
  padding-right: 5px;
}

.set-contest-question-button-add-ltr {
  padding-right: 10px;
}

.set-contest-question-button-add-rtl {
  padding-left: 10px;
}

.set-contest-user-questions-title {
  font-size: 16px;
  color: #ffffff;
}

.set-contest-questions-scroll-ltr {
  margin-left: 4px;
  margin-right: 8px;
}

.set-contest-questions-scroll-rtl {
  margin-left: 8px;
  margin-right: 4px;
}

.set-contest-team {
  font-size: 16px;
}

.set-contest-against {
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
}

.set-contest-add-icon
{
  padding-left: 10px;
}

.no-horizontal-margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.set-contest-ends-in-ltr {
  padding-left: 6px;
  margin-right: 8px;
}
.set-contest-ends-in-rtl {
  padding-right: 6px;
  margin-left: -16px;
}

.set-contest-questions-random-order {
  padding-left: 4px;
  padding-right: 4px;
}

.set-contet-questions-list {
  margin-left: -16px;
  margin-right: -16px;
}

.set-contest-random-order-checkbox-ltr {
  margin-left: 0px !important;
  margin-right: 4px !important;
}

.set-contest-random-order-checkbox-rtl {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.set-contest-my-team-item-ltr {
  margin-left: -5px;
}

.set-contest-my-team-item-rtl {
  margin-right: -5px;
}

.set-contest-other-team-item-ltr {
  margin-left: 5px;
}

.set-contest-other-team-item-rtl {
  margin-right: 5px;
}

.set-contest-subject-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
