.settings-notifications-off {
  opacity: 0.8;
  pointer-events: none;
}

.settings-notifications-properties-ltr {
  margin-left: 70px;
}

.settings-notifications-properties-rtl {
  margin-right: 55px;
  padding-left: 25px;
}
