.search-questions-scroll {
  height: 230px;
}

.search-questions-scroll-container-ltr {
  padding-right: 25px;
  margin-left: -10px;
}

.search-questions-scroll-container-rtl {
  padding-left: 25px;
  margin-right: -10px;
}
