.set-contest-range-input {
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
}

.app-button-admin {
  background-color: #d91e18;
  border: 1px solid #2c2c52;
  border-radius: 15px;
  box-shadow: 0 2px 0 0 #2c2c52;
  color: #ffffff;
  display: inline-block;
  padding: 8px 20px;
  font: normal 700 20px/1 "Calibri", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 0 #2c2c52;
}
