.leaders-item-wrapper {
  background-color: white;
  border-radius: 15px;
  width: 90%;
  margin: 10px auto;
}

.full-width {
  width: 100%;
}

.contest-leader-background {
  border-color: #28a54c;
  background-color: #ffffff;
  border-radius: 15px;
}

.leader-row1 {
  color: #00698b !important;
  font-weight: bolder !important;
}

.leader-row2 {
  color: #000000 !important;
  font-weight: bolder !important;
}

.leader-rank {
  margin-top: 18px;
  font-weight: bolder !important;
}

.leader-rank-1 {
  color: #2eabe1;
}

.leader-rank-2 {
  color: #1795be;
}

.leader-rank-3 {
  color: #0f759b;
}

.leader-rank-4-and-above {
  color: #666666
}
