<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons right>
      <button (click)="dismiss(false)">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="app-bg">

  <form [formGroup]="questionEditorForm">

    <div padding-left padding-right padding-top>
      <div padding-bottom [ngClass]="{'hide-item': fieldInFocus>0}">
        <ion-textarea #questionTextArea
                      rows="3"
                      class="question-editor-input question-editor-question"
                      placeholder="{{client.translate('QUESTION')}}"
                      [(ngModel)]="question.text"
                      formControlName="question"
                      (inFocus)="inputFocus($event)"
                      maxlength="{{client.settings.quiz.question.maxLength}}"
                      required
                      autofocus>
        </ion-textarea>
        <div [ngStyle]="{'float': client.currentLanguage.oppositeAlign}"
             class="question-editor-question-characters-length">
          {{question.text ? question.text.length : 0}}/{{client.settings.quiz.question.maxLength}}
        </div>
        <div
          *ngIf="(questionEditorForm.controls.question.dirty || submitted) && (questionEditorForm.controls.question.errors || questionError)">
          <div
            *ngIf="questionEditorForm.controls.question.errors && questionEditorForm.controls.question.errors.required"
            padding-left padding-right
            class="invalid-input">
            {{client.translate('FIELD_REQUIRED')}}
          </div>
          <div *ngIf="questionError" padding-left padding-right
               class="invalid-input">
            {{questionError}}
          </div>
        </div>
      </div>

      <div [ngClass]="{'hide-item': fieldInFocus>1}">
        <ion-textarea #answer0TextArea
                      rows="2"
                      class="question-editor-input question-editor-correct-answer"
                      placeholder="{{client.translate('CORRECT_ANSWER')}}"
                      [(ngModel)]="question.answers[0]"
                      formControlName="answer0"
                      maxlength={{client.settings.quiz.question.answer.maxLength}}
                      (inFocus)="inputFocus($event)"
                      required>
        </ion-textarea>
        <div [ngStyle]="{'float': client.currentLanguage.oppositeAlign}"
             class="question-editor-answer-characters-length">
          {{question.answers[0] ? question.answers[0].length : 0}}/{{client.settings.quiz.question.answer.maxLength}}
        </div>
        <div
          *ngIf="(questionEditorForm.controls.answer0.dirty || submitted) && questionEditorForm.controls.answer0.errors && questionEditorForm.controls.answer0.errors.required">
          <div padding-left padding-right
               class="invalid-input">
            {{client.translate('FIELD_REQUIRED')}}
          </div>
        </div>
      </div>

      <div class="small-padding-top" [ngClass]="{'hide-item': fieldInFocus>2}">

        <ion-textarea #answer1TextArea
                      rows="2"
                      class="question-editor-input question-editor-wrong-answer"
                      placeholder="{{client.translate('WRONG_ANSWER')}}"
                      [(ngModel)]="question.answers[1]"
                      formControlName="answer1"
                      maxlength={{client.settings.quiz.question.answer.maxLength}}
                      (inFocus)="inputFocus($event)"
                      required>
        </ion-textarea>
        <div [ngStyle]="{'float': client.currentLanguage.oppositeAlign}"
             class="question-editor-answer-characters-length">
          {{question.answers[1] ? question.answers[1].length : 0}}/{{client.settings.quiz.question.answer.maxLength}}
        </div>
        <div
          *ngIf="(questionEditorForm.controls.answer1.dirty || submitted) && questionEditorForm.controls.answer1.errors && questionEditorForm.controls.answer1.errors.required">
          <div padding-left padding-right
               class="invalid-input">
            {{client.translate('FIELD_REQUIRED')}}
          </div>
        </div>
      </div>

      <div class="small-padding-top" [ngClass]="{'hide-item': fieldInFocus>3}">

        <ion-textarea #answer2TextArea
                      rows="2"
                      class="question-editor-input question-editor-wrong-answer"
                      placeholder="{{client.translate('WRONG_ANSWER')}}"
                      [(ngModel)]="question.answers[2]"
                      formControlName="answer2"
                      maxlength={{client.settings.quiz.question.answer.maxLength}}
                      (inFocus)="inputFocus($event)"
                      required>
        </ion-textarea>
        <div [ngStyle]="{'float': client.currentLanguage.oppositeAlign}"
             class="question-editor-answer-characters-length">
          {{question.answers[2] ? question.answers[2].length : 0}}/{{client.settings.quiz.question.answer.maxLength}}
        </div>
        <div
          *ngIf="(questionEditorForm.controls.answer2.dirty || submitted) && questionEditorForm.controls.answer2.errors && questionEditorForm.controls.answer2.errors.required">
          <div padding-left padding-right
               class="invalid-input">
            {{client.translate('FIELD_REQUIRED')}}
          </div>
        </div>
      </div>

      <div class="small-padding-top" [ngClass]="{'hide-item': fieldInFocus>4}">

        <ion-textarea #answer3TextArea
                      rows="2"
                      class="question-editor-input question-editor-wrong-answer"
                      placeholder="{{client.translate('WRONG_ANSWER')}}"
                      [(ngModel)]="question.answers[3]"
                      formControlName="answer3"
                      maxlength={{client.settings.quiz.question.answer.maxLength}}
                      (inFocus)="inputFocus($event)"
                      required>
        </ion-textarea>
        <div [ngStyle]="{'float': client.currentLanguage.oppositeAlign}"
             class="question-editor-answer-characters-length">
          {{question.answers[3] ? question.answers[3].length : 0}}/{{client.settings.quiz.question.answer.maxLength}}
        </div>
        <div
          *ngIf="(questionEditorForm.controls.answer3.dirty || submitted) && (questionEditorForm.controls.answer3.errors && questionEditorForm.controls.answer3.errors.required || answersError)">
          <div
            *ngIf="(questionEditorForm.controls.answer3.errors && questionEditorForm.controls.answer3.errors.required) && !answersError"
            padding-left
            padding-right
            padding-bottom class="invalid-input">
            {{client.translate('FIELD_REQUIRED')}}
          </div>
          <div
            *ngIf="answersError && !(questionEditorForm.controls.answer3.errors && questionEditorForm.controls.answer3.errors.required)"
            padding-left
            padding-right
            padding-bottom class="invalid-input">
            {{answersError}}
          </div>
        </div>
      </div>

      <div>
        <span class="question-editor-answers-note">
          {{client.translate('RANDOM_ANSWERS_NOTE')}}
        </span>
      </div>

      <div padding class="question-editor-set-button">
        <button ion-button block class="app-button-light-purple"
                (click)="dismiss(true)">{{client.translate('OK')}}
        </button>
      </div>
    </div>

  </form>
</ion-content>
